<ul class="nav" role="menu">
    <li class="nav-home" role="menuitem"><a href="{{site.baseurl}}">Início</a></li>
    <li class="nav-about" role="menuitem"><a href="{{site.baseurl}}about/">Sobre</a></li>
    <li class="nav-getting-started" role="menuitem"><a href="{{site.baseurl}}tag/editores/">Editores</a></li>
    <li class="nav-getting-started" role="menuitem"><a href="{{site.baseurl}}tag/jogos-e-exercicios/">Jogos e Exercícios</a></li>
    <li class="nav-getting-started" role="menuitem"><a href="{{site.baseurl}}tag/repertorio/">Repertório</a></li>
    <li class="nav-getting-started" role="menuitem"><a href="{{site.baseurl}}tag/pedagogias/">Pedagogias</a></li>
    <li class="nav-getting-started" role="menuitem"><a href="{{site.baseurl}}tag/outros/">Outros</a></li>
</ul>